html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.content {
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:"header header"
                        "aside map"
                        "footer footer";
    height:100%;
}

#header {
    grid-area:header;
    background-color:#21406c;
}
#header h1 {
    color:#ffffff;
    font-size:50px;
    text-align: center;
    margin-top:20px;
}
#header h1 a{
    color:#ffffff;
    text-decoration:none;
}

#footer {
    grid-area:footer;
    background-color:#21406c;
}

#map {
    grid-area:map;
    background:black;
}

.planete {
    width:5px;
    height:5px;
    background-size: 5px 5px;
    margin-left:-2.5px;
    margin-top:-2.5px;
    transition: all .1s;
}

.Coruscant {
    background-image:url("../images/planete/coruscant.png");
}


.div-input {
    grid-area:aside;
    height:100%;
}

#input {
    margin-left:30px;
    margin-right:30px;
    margin-top:30px;
    padding-left:40px;
    height:30px;
    background-image:url("../images/search.svg");
    background-repeat: no-repeat;
    background-position:10px 5px;
    border:solid #dddddd 1px;
}

.input-response {
    width:169px;
    display:block;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:30px;
    margin-right:30px;
    padding:10px 2px 10px 40px;
    background-color:#f1f0f0;
    border:1px solid #dddddd;
    border-top:none;
}
.input-response:hover {
    background-color: #dddddd;
    cursor:pointer;
}


.planet-name {
    display:none;
    color:#ffffff;
    font-size:12px;
    margin-left:0px;
    margin-top:0px;
}

.planet-name-display {
    display:block;
}

.leaflet-container a {
    color:#000000;
}

.popup-lien {
    color:#000000;
    font-size:18px;
    text-decoration: none;
}

.popup-lien:hover {
    color:#555555;
}